<div class="about-content">
  <img [src]="aboutImg" alt="background-image" />
  <h2>Orange Shop</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie
    purus condimentum lectus egestas sollicitudin. Integer vehicula magna sit
    amet commodo porta. Donec consectetur dui eu diam pulvinar commodo vel ut
    nisl. Curabitur id enim a elit convallis imperdiet et at sem. Cras feugiat
    est ut sem tempus, in accumsan odio efficitur. Etiam ac mollis nulla. Sed
    blandit augue metus, eu molestie mauris lacinia a. Interdum et malesuada
    fames ac ante ipsum primis in faucibus. Fusce egestas vitae lectus non
    aliquam. Suspendisse suscipit, felis ut sollicitudin iaculis, est odio
    varius nibh, ac ornare orci odio vel nunc.
  </p>
  <p>
    Duis accumsan tellus odio, vel sagittis felis mollis ut. Cras eros justo,
    iaculis at nulla et, rhoncus finibus ligula. Fusce nec magna velit.
    Phasellus sit amet nibh gravida tellus condimentum sagittis ac sed nisl.
    Morbi facilisis lobortis semper. Suspendisse potenti. In hendrerit feugiat
    augue nec tincidunt. Etiam elementum viverra fermentum. Aliquam aliquam
    molestie ullamcorper. Curabitur scelerisque quam diam, scelerisque fringilla
    erat pharetra sit amet. Quisque sed suscipit purus. Maecenas nec magna ac
    lacus semper dignissim eget vel dui. Mauris aliquam ipsum id ex volutpat, at
    venenatis sem efficitur. Suspendisse commodo, dui eu efficitur dictum, velit
    dui elementum erat, at tincidunt felis ligula posuere justo.
  </p>
</div>
